<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.priyankabh">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- This permissions are neccessary for broadcast receiver -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="edu.neu.madcourse.priyankabh.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.neu.madcourse.priyankabh.note2map.Note2MapMainActivity"
            android:allowBackup="true"
            android:icon="@mipmap/n2m_ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:taskAffinity=".note2map.Note2MapMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="edu.neu.madcourse.priyankabh.tictactoe.TicTacToeMainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>

        <activity android:name=".tictactoe.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>

        <activity android:name=".dictionary.TestDictionary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".dictionary.Acknowledgement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".scroggle.ScroggleGameActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity android:name=".scroggle.WordGame"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity android:name=".communication.fcm.FCMActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        </activity>
        <activity android:name=".communication.realtimedatabase.RealtimeDatabaseActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".communication.CommunicationAcknowledgement"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".communication.CommunicationActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".communication.fcm.RegisterUserActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".twoplayergame.ChoosePlayerActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".twoplayergame.RegisterActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".communication.realtimedatabase.EnterWordToDatabaseActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".communication.realtimedatabase.ViewScoreActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".twoplayergame.TwoPlayerWordGameActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".twoplayergame.ScroggleTwoPlayerGameActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".twoplayergame.OpponentProfileActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--service android:name=".communication.fcm.WordGameMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service-->
        <!--service android:name=".twoplayergame.TwoPlayerWordGameMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".twoplayergame.TwoPlayerWordGameInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service-->

        <receiver
            android:name=".twoplayergame.DetectNetworkActivity"
            android:enabled="true" >
            <intent-filter>

                <!-- Intent filters for broadcast receiver -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!--action android:name="android.net.wifi.WIFI_STATE_CHANGED" /-->
                <!--action android:name="android.net.wifi.STATE_CHANGE" /-->
            </intent-filter>
        </receiver>

        <activity
            android:name=".note2map.SelectEventTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
            android:name=".note2map.Note2MapSearchLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <service android:name=".note2map.MyLocationService"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWHu2v4RKujUpKxPH53UvkIVdhDrnolCU" />

        <service android:name=".note2map.InstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".note2map.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".note2map.Note2MapFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".note2map.Note2MapChooseUsername"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".note2map.Note2MapChooseNoteType"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".note2map.Note2MapAllUsersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

      </application>
</manifest>